/* ____________________ GENERAL ____________________ */
body{
    /* no margin/padding */
    margin: 0;
    padding: 0;
    /* text color: black slightly transparent */
    color: rgba(0,0,0,0.87);
    /* text font */
    font-size: 1.2em;
    font-weight: normal;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

/* ____________________ NAVIGATION BAR ____________________ */
header{
    /* display on the top */
    z-index: 1;
    /* padding & position */
    padding-top: 0.5em;
    top: 0;
    position: sticky;
    /* color (background & shadow) */
    background: #607d8b;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
    /* hover transition */
    -webkit-transition: box-shadow .2s ease;
    transition: box-shadow .2s ease;
}
header:hover{
    /* double shadow size */
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.14),0 6px 2px -4px rgba(0,0,0,0.12),0 2px 10px 0 rgba(0,0,0,0.2);
}
header h1{
    /* sapce around element */
    margin: 0;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    width: 100%;
    /* font work */
    color: white;
    text-align: center;
    font-size: 2em;
    font-weight: 200;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}
nav{
    /* margins */
    padding-top: 0.8em;
    padding-bottom: 0.5em;
}
.tabs{
    /* align horizontally */
    display: flex;
    justify-content: space-around;
    /* slight margin on the left */
    padding: 0 2em;
    /* space around */
    margin: 0;
}
.tab{
    /* color (to be slightly chnaged on hover) */
    color: rgba(255,255,255,0.7);
    /* padding 0 vertically, 12px horizontally*/
    padding: 0 12px;
    /* change mouse pointer */ 
    cursor: pointer;
    /* delete the dot from listing */
    display: block;
    /* font work */
    text-transform: uppercase;
    font-size: 0.85em;
    font-weight: normal;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    /* hover transition */
    -webkit-transition: color .28s ease, background-color .28s ease;
    transition: color .28s ease, background-color .28s ease;
    /* overflow effect */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.tab:hover{
    /* slight change of color */
    color: #fff;
    /* overflow effect */
    overflow: visible;
}

@media screen and (max-width: 650px){
    .tab{
        padding: 0 3px;
    }
    .tabs{
        padding: 0 2px;
    }
}
/* ____________________ ONE LINER PROFILE ____________________ */
h4{
    /* no margin*/
    margin: 0;
    width: 100%;
    /* text */
    color: #263238;
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}
.space{
    height: 15em;
}
/* ____________________ MAIN CONTENT ____________________ */
.anchor {
    /* adjust sections link to the top banner */
    visibility: hidden;
    display: block;
    height: 5em;
    margin-top: -5em;
}
h2{
    /* color */
    color: #607d8b;
    /* font */
    font-weight: 400;
    font-size: 1.8em;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    /* space */
    margin-top: 0.5em;
    margin-bottom: 0.2em;
    padding-left: 0.4em;
}
a{
    /* color */
    color: #039be5;
    /* no underline */
    text-decoration: none;
    /* hover transition */
    -webkit-transition: color .2s ease;
    transition: color .2s ease;
}
a:hover{
    /* slight color change */
    color: #29b6f6;
}
.hidden-link{
    color: rgba(0,0,0,0.87);
}
.hidden-link:hover{
    color: rgba(0, 0, 0, 0.42);
}
.icon{
    position: relative;
    top: 0.1em;
    height: 0.9em;
    transition: filter .2s ease;
}
.icon:hover {
    filter: brightness(125%);
}
.sub{
    /* left shift */
    padding-left: 1em;
}
ul {
    /* left shift */
    padding-left: 2em;
    /* bo margin */
    margin: 0;
}
.main{
    margin-left: 3%;
    max-width: 94%;
}
@media screen and (min-width: 1200px) {
    .main {
        margin-left: 5%;
        max-width: 90%;
    }
}
@media screen and (min-width: 1400px) {
    .main {
        margin-left: 7%;
        max-width: 86%;
    }
    h4 {
        margin-right: 15%;
    }
}
@media screen and (min-width: 1600px) {
    .main {
        margin-left: 10%;
        max-width: 80%;
    }
}

/* ____________________ CARDS ____________________ */
.Projects{
    /* nice disposition of the cards */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
}
.card{
    /* arrange sub items*/
    display: flex;
    flex-direction: column;
    /* size */
    min-width: 15em;
    max-width: 20em;
    width: 23%;
    min-height: 5em;
    /* spacing */
    margin: 0.5em 0.1em;
    /* round border */
    border-radius: 5px;
    /* shadow */
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
    /* hover transition */
    -webkit-transition: box-shadow .5s ease;
    transition: box-shadow .5s ease;
}
.card:hover{
    /*background: lightgray;*/
    /* shadow */
    -webkit-box-shadow: 0 6px 6px 0 rgba(0,0,0,0.14),0 9px 3px -6px rgba(0,0,0,0.12),0 3px 15px 0 rgba(0,0,0,0.2);
    box-shadow: 0 6px 6px 0 rgba(0,0,0,0.14),0 9px 3px -6px rgba(0,0,0,0.12),0 3px 15px 0 rgba(0,0,0,0.2);
}
.card-content{
    padding: 1em;
    /* sub-display */
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.card-content p{
    /* proper paragraph */
    text-align: justify;
    text-justify: inter-word;
    /* take maximum height */
    flex-grow: 1;
    /* adjust font */
    font-size: 0.8em;
}
.card-image{
    /* round border (top) */
    border-radius: 5px 5px 0 0;
    /* adjust image size */
    width: 100%;
    height: 16em;
    /* use all space (but display only part of the image) */
    object-fit: cover;
    /* adjust box size */
    display: block;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.card-image:active{
    /* display all image (but loose space) */
    object-fit:scale-down;
}
.card-context{
    /* font work */
    font-weight: 700;
    color: #311b92;
    color: #212121;
    font-size: 1.2em;
    /* hover transition */
    -webkit-transition: color 2s ease;
    transition: color 2s ease;
}
.card-context:hover{
    /* slight change of colors */
    color: #616161;
}
.card-title{
    /* font work */
    font-weight: 700;
    color: #b71c1c;
    font-size: 1.2em;
    /* hover transition */
    -webkit-transition: color 2s ease;
    transition: color 2s ease;
}
.card-title:hover{
    /* slight change of colors */
    color: #616161;
}
.card-subtitle{
    /* font work */
    font-weight: 600;
    color: #d85600;
    font-size: 1.0em;
    /* hover transition */
    -webkit-transition: color 2s ease;
    transition: color 2s ease;
}
.card-subtitle:hover{
    /* slight change of colors */
    color: #616161;
}
.card-action{
    /* nice spacing for buttons */
    display: flex;
    justify-content: space-around;
    /* light overline */
    border-top: 1px solid rgba(160,160,160,0.2);
    /* adjust height */
    line-height: 1.5;
    height: 1.5em;
    /* inner padding for nice look */
    padding: 1em 1.5em;
    /* take the minimum height */
    flex-shrink: 1;
}
.card-action a{
    /* font work */
    font-size: 0.9em;
    text-align: center;
    color: #ffab40;
    margin-right: 24px;
    text-transform: uppercase;
    /* hover transition */
    -webkit-transition: color .25s ease;
    transition: color .25s ease;
    /* overflow effect */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.card-action a:hover{
    /* slight change of color */
    color: #ffd180;
    /* overflow effect */
    overflow: visible;
}






/* ____________________ FOOTER ____________________ */
footer{
    /* arrange sub boxes */
    display: flex;
    flex-wrap: wrap;
    /* size */
    padding-top: 1em;
    padding-right: 2em;
    padding-left: 2em;
    padding-bottom: 0.8em;
    margin: 0;
    margin-top: 2.5em;
    /* colors */
    color:white;
    background-color: #607d8b;
}
h6{
    /* font work */
    font-weight: 500;
    font-size: 1.2em;
    /* small vertical margins */
    margin: 0.3em 0;
}
/* profile */
.contact{
    /* spacing */
    padding: 0 1em;
    margin: 0;
    margin-right: 1em;
}
.contact p{
    /* font work */
    font-size: 0.8em;
    /* no-margin */
    margin: 0;
}
.field{
    /* italic font */
    font-style: italic;
}
/* links */
.links{
    /* spacing */
    padding: 0 1em;
}
.circle-bt {
    /* size work */
    height: 3em;
    /*width: 3em;*/
}

@media screen and (min-width: 850px) {
    footer {
        padding-left: 10%;
    }
}

/* ____________________ COPYRIGHT ____________________ */
.copyright{
    /* text */
    color: white;
    text-align: right;
    font-size: 0.7em;
    /* background */
    background-color:  #5c7784;
    /* size */
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-left: 0px;
}


/* ____________________ TXT PIC ____________________ */
.pic{
    /* nice disposition of the cards */
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    padding: 0;
    padding-right: 5em;
}
@media screen and (max-width: 850px) {
    .pic {
        padding: 0;
    }
}
@media screen and (max-width: 650px) {
    .pic {
        align-items: center;
    }
}
pre{
    color: #607d8b;
    font-size: 2px;
}